<app-header></app-header>
<!--====== PAGE TITLE PART START ======-->
<div class="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h2 class="title">Immobilienvermarktung</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink='/'>Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Immobilien</li>
                        </ol>
                    </nav>
                </div> <!-- page title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== PAGE TITLE PART ENDS ======-->
<div class="asnwers-area pt-105 pb-100 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title-2">
                    <h2 class="title">Makler Benefits</h2>
                    <p>Sie sind Immobilienmakler*in und möchten schneller und effizienter zum Deal kommen? Wir nennen Ihnen 5 Vorteile, warum Sie unseren Service nutzen sollten:</p>
                </div> <!-- section title 2 -->
                <div class="faq-accordion-2 mt-30">
                    <div class="accordion" id="accordionExample">
                        <div class="card wow fadeInLeft" data-wow-duration=".5s" data-wow-delay=".3s">
                            <div class="card-header" id="headingOne">
                                <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    1. Zeitersparnis
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Schaufeln Sie sich mehr wertvolle Zeit für die Objektakquise und Ihr Netzwerk frei. Durch unseren 3D-Scan und die damit entstehenden virtuellen Besichtigungsmöglichkeiten können Ihre Kunden sich schon im Vorhinein ein sehr genaues Bild vom Objekt beschaffen. Klassische Immobilienbesichtigungen sind dadurch teilweise nicht mehr nötig.
                                        Wenn Sie unseren Rundum-Service nutzen wollen, holen wir sogar den Schlüssel von einem gewünschten Ort ab, machen den 3D-Scan und Fotos und bringen Ihnen den Schlüssel anschließend direkt wieder. Sie müssen also selbst keine Fotos mehr machen oder während des Scans vor Ort sein. Sie bleiben Zuhause, wir machen den Rest. </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInLeft" data-wow-duration=".6s" data-wow-delay=".4s">
                            <div class="card-header" id="headingTwo">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2. Mehr Reichweite
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Das Geschäft mit ausländischen Investoren gewinnt im Immobilienmarkt zunehmend an Bedeutung.  Mit unserem 3D-Scan erhalten Sie nicht nur generell mehr Aufmerksamkeit, sondern vor allem auch von Investoren aus größeren Entfernungen.</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInLeft" data-wow-duration=".7s" data-wow-delay=".5s">
                            <div class="card-header" id="headingThree">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    3. Begeisterte Kunden
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Immer wieder hören wir von Kunden und Bekannten, wie begeistert sie von dieser Technologie sind. Auch Ihre Kunden werden es lieben und auf Sie zurückkommen.</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInLeft" data-wow-duration=".8s" data-wow-delay=".6s">
                            <div class="card-header" id="headingFour">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                   4. Gesteigerte Transparenz und Vertrauenswürdigkeit
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Präsentieren Sie Ihre Objekte realitätsnah und vollständig im Internet. Auf Kunden wirkt dies transparent und vertrauenswürdig – genau wie sie als Makler*in dastehen wollen.</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".7s">
                            <div class="card-header" id="headingFive">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    5. Ortsunabhängige Ermittlung von Maßen
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Sie und Ihre Kunden können über den „Messmodus“ bequem von Zuhause beliebige Maße ermitteln. Zum Beispiel für die Renovierungs- oder Einrichtungsplanung.
                                        (Maximale Messgenauigkeit: 2%)</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                    </div>
                </div> <!-- faq accordion -->
            </div>
            <div class="col-lg-6">
                <div class="answers-thumb">
                    <div class="answers-thumb-1 text-right">
                        <img src="assets/images/answers-thumb-1.jpg" alt="">
                    </div>
                    <div class="answers-thumb-2">
                        <img src="assets/images/answers-thumb-2.jpg" alt="">
                    </div>
                </div> <!-- answers thumb -->
            </div>
        </div> <!-- row -->
    </div> <!-- containter -->
</div>

<div class="services-item-area pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/services-thumb-1.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-eye-dropper"></i>
                        <h4 class="title">3D-Scans / Virtueller Rundgänge</h4>
                        <p>Wir stellen Ihnen innerhalb von 24h einen 3D-Scan für Ihr Objekt bereit – Sie und Ihre Kunden können sich am Computer, Tablet oder Handy frei in den Räumlichkeiten bewegen und erhalten einen guten Eindruck vom Raumgefühl und Dimensionen.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/services-thumb-2.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-gavel"></i>
                        <h4 class="title">Homepage Einbindung</h4>
                        <p>Sie erhalten einen I-Frame Code zur Einbindung des 3D-Scans auf Ihrer Internetseite</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/services-thumb-3.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-map-marked-alt"></i>
                        <h4 class="title">Einen Link zur virtuellen Tour</h4>
                        <p>Sie erhalten einen Link zur Virtuellen Tour, den Sie in Ihren Inseraten (z.B. auf ebay Kleinanzeigen) oder in E-Mails teilen können.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/services-thumb-5.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-hurricane"></i>
                        <h4 class="title">Hochwertige Fotos für Ihre Inserate</h4>
                        <p>Text text text</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/services-thumb-4.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-bezier-curve"></i>
                        <h4 class="title">2D-Grundrisse</h4>
                        <p>Auf Wunsch fertigen wir Ihnen einen neuen Grundriss an.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services-item mt-30">
                    <img src="assets/images/services-thumb-6.jpg" alt="">
                    <div class="services-overlay">
                        <i class="fal fa-umbrella"></i>
                        <h4 class="title">Schlüssel-Service</h4>
                        <p>Wir holen den Schlüssel von einem gewünschten Ort ab, machen den 3D-Scan und Fotos und bringen den Schlüssel anschließend wieder zurück.</p>
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== SERVICES PLANS PART START ======-->
<div class="services-plans-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="services-title mb-50">
                    <h2 class="title">Unsere Preise</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="plans-tab-btn d-flex justify-content-md-end justify-content-start">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">3D Scan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Fotos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab2" data-toggle="pill" href="#pills-profile2" role="tab" aria-controls="pills-profile2" aria-selected="false">Grundriss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab3" data-toggle="pill" href="#pills-profile3" role="tab" aria-controls="pills-profile3" aria-selected="false">Schlüssel</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 50qm</b>
                            <h3 class="title">€ <span>239</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 50 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 75 qm</b>
                            <h3 class="title">€ <span>319</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 75 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 100qm</b>
                            <h3 class="title">€ <span>389</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 100 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 200qm</b>
                            <h3 class="title">€ <span>629</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 200 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 50qm</b>
                            <h3 class="title">€ <span>20</span></h3>
                            <span>pro Objekt</span>
                            <p>Hochwertige Foto Kollektion.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 75qm</b>
                            <h3 class="title">€ <span>25</span></h3>
                            <span>pro Objekt</span>
                            <p>Hochwertige Foto Kollektion.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 100qm</b>
                            <h3 class="title">€ <span>30</span></h3>
                            <span>pro Objekt</span>
                            <p>Hochwertige Foto Kollektion.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 200qm</b>
                            <h3 class="title">€ <span>40</span></h3>
                            <span>pro Objekt</span>
                            <p>Hochwertige Foto Kollektion.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 50qm</b>
                            <h3 class="title">€ <span>20</span></h3>
                            <span>pro Objekt</span>
                            <p>Individuelle Erstellung eines 2D Grundriss.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 75qm</b>
                            <h3 class="title">€ <span>30</span></h3>
                            <span>pro Objekt</span>
                            <p>Individuelle Erstellung eines 2D Grundriss.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 100qm</b>
                            <h3 class="title">€ <span>40</span></h3>
                            <span>pro Objekt</span>
                            <p>Individuelle Erstellung eines 2D Grundriss.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 200qm</b>
                            <h3 class="title">€ <span>60</span></h3>
                            <span>pro Objekt</span>
                            <p>Individuelle Erstellung eines 2D Grundriss.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile3" role="tabpanel" aria-labelledby="pills-profile-tab3">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 50qm</b>
                            <h3 class="title">€ <span>50</span></h3>
                            <span>pro Objekt</span>
                            <p>Stay in Office komplett paket.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 75qm</b>
                            <h3 class="title">€ <span>50</span></h3>
                            <span>pro Objekt</span>
                            <p>Stay in Office komplett paket.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 100qm</b>
                            <h3 class="title">€ <span>50</span></h3>
                            <span>pro Objekt</span>
                            <p>Stay in Office komplett paket.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 200qm</b>
                            <h3 class="title">€ <span>50</span></h3>
                            <span>pro Objekt</span>
                            <p>Stay in Office komplett paket.</p>
                            <a class="main-btn main-btn-2" href="#">Angebot anfragen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== SERVICES PLANS PART ENDS ======-->
<app-footer></app-footer>