<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-area-2 bg_cover" style="background-image: url(assets/images/HomeBanner.png);">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="banner-content text-center">
                        <span>Ihre Immobilie in 3D</span>
                        <h1 class="title">3D Immoging</h1>
                        <p>Sind Sie bereit für das 21. Jahrhundert?</p>
                        <ul>
                            <li><a class="main-btn wow fadeInUp" routerLink='/contact-us' data-wow-duration=".3s" data-wow-delay=".5s">Get A Quote</a></li>
                            <li><a class="main-btn main-btn-2 wow fadeInUp" routerLink='/about' data-wow-duration=".7s" data-wow-delay=".7s">Learn More</a></li>
                        </ul>
                    </div> <!-- banner content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== BANNER PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="section-title">
                    <h2 class="title">Präsentieren Sie Ihre Räumlichkeiten in 3D!</h2>
                </div> <!-- section title -->
            </div>
            <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="section-title">
                    <p>Ein starker Internetauftritt wird in allen Branchen immer wichtiger. Sei es die Immobilien- und Wohnraumvermarktung, Gastronomie oder Räumlichkeiten für Freizeitaktivitäten. Stechen Sie aus der Masse heraus, indem Sie Ihren Kunden einen realitätsnahen virtuellen Rundgang anbieten. Sie profitieren durch mehr Aufmerksamkeit, Reichweite und eine bessere Kommunikationsgrundlage mit Ihren Kunden. 
                        </p>
                        <h5>Überzeugen Sie sich selbst:</h5>
                </div> <!-- section title -->
            </div>
            <iframe width="1400" height="600" src="https://my.matterport.com/show/?m=Wwz7TqUSRyQ" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-laptop-code"></i>
                    <h5 class="title">Immobilienvermarktung</h5>
                    <p>Erfahren Sie mehr über Ihre Vorteile als Immobilienmakler*in</p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-fingerprint"></i>
                    <h5 class="title">Vermietung</h5>
                    <p>Erfahren Sie mehr über Ihre Vorteile als Vermieter*in</p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-chalkboard"></i>
                    <h5 class="title">Architektur</h5>
                    <p>Erfahren Sie mehr über die Vorteile zur Innenraumplanung</p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="2s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-database"></i>
                    <h5 class="title">Gastronomie</h5>
                    <p>Erfahren Sie mehr über die Vorteile für die Gastronomie</p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>
    <div class="what-we-are-shape-2">
        <img src="assets/images/what-we-are-shape-2.png" alt="shape">
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<!--====== SERVICES PLANS PART START ======-->
<div class="services-plans-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="services-title mb-50">
                    <span></span>
                    <h2 class="title">Unsere Preise</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="plans-tab-btn d-flex justify-content-md-end justify-content-start">

                </div>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 50qm</b>
                            <h3 class="title">€ <span>239</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 50 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 75qm</b>
                            <h3 class="title">€ <span>319</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 75 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 100qm</b>
                            <h3 class="title">€ <span>389</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 100 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 200qm</b>
                            <h3 class="title">€ <span>629</span></h3>
                            <span>pro Scan</span>
                            <p>Individueller 3D Scan für Objekte bis 200 Quadratmetern</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 50qm</b>
                            <h3 class="title">€ <span>1075</span></h3>
                            <span>Für 5 Scans</span>
                            <p>3D Scans von 5 Objekten mit einer Größe von jeweils bis zu 50qm.</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 75qm</b>
                            <h3 class="title">€ <span>1435</span></h3>
                            <span>Für 5 Scans</span>
                            <p>3D Scans von 5 Objekten mit einer Größe von jeweils bis zu 75qm.</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 100qm</b>
                            <h3 class="title">€ <span>1750</span></h3>
                            <span>Für 5 Scans</span>
                            <p>3D Scans von 5 Objekten mit einer Größe von jeweils bis zu 100qm.</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 mt-30">
                        <div class="plans-item bg_cover text-center" style="background-image: url(assets/images/plans-thumb.jpg);">
                            <b>bis 200qm</b>
                            <h3 class="title">€ <span>2799</span></h3>
                            <span>Für 5 Scans</span>
                            <p>3D Scans von 5 Objekten mit einer Größe von jeweils bis zu 200qm</p>
                            <a class="main-btn main-btn-2" href="#">Jetzt Angebot anfordern</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== SERVICES PLANS PART ENDS ======-->
<!--====== GET IN TOUCH PART START ======-->
<div class="get-in-touch-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title text-left">
                    <span>Get In Touch</span>
                    <h2 class="title">Erhalten Sie jetzt ihr Angebot.</h2>
                </div> <!-- section title -->
                <div class="form-area">
                    <form action="#">
                        <div class="input-box pt-45 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            <input type="text" placeholder="Geben Sie ihren Namen ein">
                        </div>
                        <div class="input-box mt-20 wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
                            <input type="email" placeholder="Geben Sie Ihre E-Mail an">
                        </div>
                        <div class="input-box mt-20 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".6s">
                            <textarea name="#" id="#" cols="30" rows="10" placeholder="Teilen Sie uns ihr Anliegen mit"></textarea>
                        </div>
                        <div class="input-box mt-20">
                            <button class="main-btn wow fadeInUp" data-wow-duration="1.6s" data-wow-delay=".2s" type="submit">Jetzt abschicken</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="get-map d-none d-lg-block">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d641859.1168221266!2d9.710978711433645!3d53.63186213337283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b161837e1813b9%3A0x4263df27bd63aa0!2sHamburg!5e0!3m2!1sde!2sde!4v1613736082268!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== GET IN TOUCH PART ENDS ======-->

<app-footer></app-footer>
